input {
        beats {
			port => 5044
        }
}

filter {
        grok {
                match => {
                        message => "%{COMBINEDAPACHELOG}"
                }
        }

        geoip {
                source => "[source][address]"
                target => "clientip"
        }

        mutate {
                copy => { "[host][name]" => "machinename2" }
        }

        mutate {
                rename => { "message" => "log_message" }
        }

        mutate {
                split => { "[user_agent][original]" => " " }
                add_field => { "browser" => "%{[user_agent][original][0]}" }
        }
}

output {
        stdout { codec => rubydebug }
        elasticsearch {
                hosts => ["10.0.0.4:9200", "10.0.0.4:9201", "10.0.0.4:9202"]
                index => "latest-apache-logs-stream"
                document_type => "_doc"
		action => "create"
        }
}

