input {
	stdin{}
}

filter {
	grok {
		match => {
			"message" => '%{HTTPDATE:eventtime} %{IP:ip} %{GREEDYDATA:servermsg}'
		}
	}
	date {
		match => [ "eventtime", "dd/MMM/YYYY:HH:mm:ss Z" ]
		locale => en
	}

	geoip {
		source => "ip"
		target => "serverip"
	}
}

output{
	stdout {codec => rubydebug}

	elasticsearch {
		hosts => ["10.0.0.4:9200", "10.0.0.4:9201", "10.0.0.4:9202"]
		index => "log-%{+YYYY.MM.dd}"
        	document_type => "_doc"
	}
}

