input {
	stdin{}
}

filter {
    grok {
	match => { "message" => "%{COMBINEDAPACHELOG}" }
    }
    geoip {
	"source" => "clientip"
	"target" => "clientip"
    }
    date {
	match => [ "timestamp", "dd/MMM/yyyy:HH:mm:ss Z" ]
	target => "log_date"
    }
}

output {
    elasticsearch {
    	hosts => ["10.0.0.4:9200", "10.0.0.4:9201", "10.0.0.4:9202"]
    	index => "apache-logs-%{+YYYY.MM.dd}"
    	document_type => "_doc"
    }
    stdout {
	codec => rubydebug
    }
}
