input {
  file {
    path => "/home/logstash/input-data/Cars.csv"
    # The below two are needed to read the data from the start of the file.
    # By default the file plugin points to the end of the file
    start_position => "beginning"
    sincedb_path => "/tmp/null"
  }
}

filter {
  csv {
    separator => ","
    columns => [ "maker", "model", "mileage", "manufacture_year", "engine_displacement", "engine_power", "body_type", "color_slug", "stk_year", "transmission", "door_count", "seat_count", "fuel_type", "date_created", "date_last_seen", "price_eur" ]
  }
  mutate { convert => ["mileage", "integer"] }
  mutate { convert => ["manufacture_year", "integer"] }
  mutate { convert => ["engine_power", "integer"] }
  mutate { convert => ["stk_year", "integer"] }
  mutate { convert => ["seat_count", "integer"] }
  mutate { convert => ["price_eur", "float"] }
}

output {
  elasticsearch {
    hosts => ["elasticsearch01:9200", "elasticsearch02:9200", "elasticsearch03:9200"]
    index => "cars"
    document_type => "used_cars"
  }
  stdout { codec => rubydebug }
}
